
<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="panier.component.scss">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxxxx" crossorigin="anonymous" />
		<link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.13.0/css/all.css">

</head>
     
        
<body>
    <section class="secrr">
        <div class="panier">
            <a href="home"><img class="phts" src="../assets/logo.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
        <marquee id="bienvenue" behavior="" direction="">BIENVENUE CHEZ SUNUSHOP</marquee>

    </section>
        
        <div class="top-bar">
            <p><i class="fas fa-envelope"></i>sunushop@gmail.com</p>
            <div class="navbar">
                <ul>
                    <li><a href="home"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="apropos"><i class="fas fa-question-circle"></i>A propos..</a></li>
                    <li><a href="contact"><i class="fas fa-address-book"></i>Contact</a></li>
                    <li><a href="register"><i class="fas fa-user-circle"></i>S'inscrire</a></li>
                </ul>
            </div>
            <p><i class="fas fa-phone"></i>77 177 10 00</p>
        </div>

        <!-- <div class="header"> -->
            
            

            <!-- <div class="navbar-b">
                <div class="dropdown">
                     <select name="">
                        <option value="1">Categories</option>
                        <option value="2">New</option>
                        <option value="3">Imported</option>
                        <option value="4">Local</option>
                    </select>
    
                    <div class="search">
                        <input type="search" placeholder="Search...">
                         <i class="fa-solid fa-magnifying-glass"></i> 
                        <i class="fas fa-search"></i>

                    </div> -->

                    <!-- <div class="cart">
                        <i class="fa fa-shopping-cart"></i><p id="count">0</p>
                    </div> 
                </div>
            </div> -->
    
        <!-- </div> -->

        
        <!-- <div class="container">
            <div id="root"></div>
            <div class="sidebar">Sidebar</div>
                
        </div>

            <script src="panier.component.ts"></script
        -->
         
        
             
    <div class="nav container">
        <div class="plan-cart">
            <i class="fas fa-times" id="close-cart"></i>
            <h2 class="cart-title">Votre Panier</h2>

            <div class="cart-content">

                <div class="cart-box">
                    <img src="../assets/sac-marron.jpeg" alt="" class="cart-img">
                    <div class="detail-box">
                        <div class="cart-product-title">sac_marron</div>
                        <div class="cart-price">13 600 FCFA</div>
                        <input type="number" value="1" class="cart-quantity">
                    </div>
                    <i class="fas fa-trash-alt cart-remove" id="fas"></i>
            </div>
            <div id="trait"></div>
            <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">0 FCFA</div>
            </div>

            <button type="button" class="btn-buy">Acheter Maintenant</button>

            <!-- <i class="fa-regular fa-xmark" id="close-cart"></i> -->
            
        </div>
        </div>
    </div>
    
    <script src="panier.component.ts"></script>
     


    
    
    <!-- <div class="head"><p>Mon Panier</p></div>
                <div id="articles">Votre panier est vide</div>
                <div class="foot">
                    <h3>Total</h3>
                    <h2 id="total">0.0 cfa</h2>
                </div> -->
    
    
    
    
    
    



            <!-- <div *ngFor="let product of products">
                <img [src]="product.image" [alt]="product.title" />
                <h2>{{ product.title }}</h2>
                <p>{{ product.price }}</p>
            </div> -->
        
</body>
</html>
            
        














