<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="contact.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxxxx" crossorigin="anonymous" /> 
    
    <script src="https://kit.fontawesome.com/b03d753f10.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/css/bootstrap.min.css">     -->



    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxxxx" crossorigin="anonymous" />
	<link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.13.0/css/all.css">

</head>
<body>
    <nav class="navibar">

        <div class="navbar">
            <div><i class="fa fa-phone"></i>     Nous Contacter au: +221 77 177 77 10</div>
            <ul class="lien">
                <li><a class="nav" href="https://www.google.sn/maps/place/Dakar/@14.7101012,-17.5397505,12.77z/data=!4m5!3m4!1s0xec172f5b3c5bb71:0xb17c17d92d5db21f!8m2!3d14.716677!4d-17.4676861"><span class="fall"></span></a></li>
                <li><a class="nav" href="https://www.google.sn/maps/place/Dakar/@14.7101012,-17.5397505,12.77z/data=!4m5!3m4!1s0xec172f5b3c5bb71:0xb17c17d92d5db21f!8m2!3d14.716677!4d-17.4676861"><span class="fall"><i class="fa fa-map-marker"></i>Trouver nous sur le map</span></a></li>
        
                <li><a class="nav" href="#"></a><span class="nav"></span></li>
                <li><a class="nav" href="panier"><i class="fas fa-truck-moving"></i><span class="nav">Suivre votre Commande </span></a></li>
                <li><a class="nav" href="#"></a><span class="nav"></span></li>
                <li><a class="nav" href="home"><i class="fa fa-shopping-cart"></i><span class="nav">Boutique</span></a></li>
                <li><a class="nav" href="#"><span class="nav"></span></a></li>
                <li><a class="nav" href="register"><span class="nav"><i class="fas fa-user"></i>Se Connecter</span></a></li>
                <!-- <i>fas fa-truck-moving</i>                fa-solid fa-cart-plus-->
            </ul><br>
        </div>
    </nav><br>

    <section class="secrr">
        <div class="panier">
           
        </div>
    </section>


    <section>
                <!-- nava -->
        <div class="nava">
                    <!-- cat -->
            <div class="retrouver">
                <a href="contact" ><span><i class="fas fa-bars" ></i>Retrouvez-Nous!!!</span></a>
                
            </div>
                    <!-- het -->
            <ul class="autrelien">
                <li><a href="home">Accueil</a></li>
                <li><a href="apropos">Qui sommes-nous ?</a></li>
                <li><a href="home">Boutique</a></li>
                <!-- <li><a href="serviceApresVente.html">Service après-vente</a></li> -->
                <li><a href="contact">Contact</a></li><br>
            </ul><br>
        </div>
    </section><br>


    <h1 class="nous">Qui sommes-nous ?</h1>
    <section>
        <p class="diop">
            La société SUNUSHOP a été fondée en 2020 sur la base de convictions et valeurs fortes avec 2 ans d’expérience. Sise sur avenue Mosquee CICES en face foire <br> 
            &nbsp;&nbsp;&nbsp; commercial Serigne Fallou cantine N°107, elle est spécialisée dans la vente et le stock de produits, proposant une large gamme d'accessoires <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sacs, chaussures   </p>
        <br>

    </section>
    <section class="presentation">
        <div>
            <h3>Missions</h3>
            <div class="terre">
                Notre mission est d’offrir la clientèle une large <br>
                gamme de produits, présenter et promouvoir les <br>
                dernières innovations technologiques tout en <br>
                restant accessibles à la population car nous<br>
                prônons la «High Qualité à moindre coût » <br>
                Depuis le début, notre priorité est la même : <br>
                rester focalisé sur votre satisfaction et <br>
                développer toujours plus de services dans<br>
                 le but de vous apporter une expérience <br>
                 d’achat irréprochable Choisir SUNUSHOP <br>
                 , c’est non seulement <br>
                s’évader vers le monde de la beaute et de l'elegance<br>
                  mais aussi donner un sens à<br> 
                 vos achats ! <br>
            </div>
        </div>

        <div>
            <h3>Personnel</h3>
            <div class="personnel">
                Ainsi cette liste traduit notre vocation de <br>
                 multiservices et la pluridisciplinarité de notre<br> 
                 personnel composé de professionnels dotés <br>
                 d’une solide expérience du marché local et<br>
                  international, et d’une logistique <br>
                  adéquate pour l’exécution des tâches <br>
                  à nous confier.<br>
                   <br>
                   Par ailleurs nous vous rassurons quant à la<br>
                    qualité et les prix défiant toute concurrence de<br>
                     nos prestations.<br>
            </div>
        </div>

        <div>
            <h3>Que pouvons-nous faire pour vous ?</h3>
            <div class="terrew">
                <h4>Support 24h/7</h4>
            <p class="ssd">
                Profitez d’un service après-vente 24h/24 et 7j/7 pour vous<br>
                 accompagner dans l’achat et l’utilisation de vos<br>
                  achats avec un accueil prioritaire du lundi au samedi <br>
                  de 8h à 20h.<br>
                  <br>
            </p>
                    <div class="A31">
                        <h1 class="A32">Livraison Rapide</h1>
                        <h1 class="A33">La Qualité</h1>
                        <h1 class="A34">Service Client</h1>
                    </div>
            </div>
        </div>

    </section>

    <section class="reseau">
        <div class="dame">
            <h3>Objectifs</h3>
            <p>
                Faire de SUNUSHOP le leader des accessoires au Sénégal et dans la sous<br>
                 région d’ici l’horizon 2035
                 <br>
                 <br>
                 Renforcer de manière continuelle la satisfaction<br>
                  de nos clients afin de développer durablement <br>
                  notre position sur le marché national et sous <br>
                  régional
                  <br>
                  <br>
                  Développer une écoute de nos clients, respecter <br>
                  leurs exigences et les assister durant et après <br>
                  la vente
                  <br>
                  <br>
                  Optimiser la compétence du personnel à travers <br>
                  des formations et recherches continues <br>
            </p>
        </div>

            <div class="listete">
                <h3>Services</h3>
                <ul class="seck">
                    <li>Sacs</li>
                    <li>Chaussures</li>
                    <!-- <li>Vente de matériels informatiques</li>
                    <li>Installation internet</li>
                    <li>Câblage</li>
                    <li>Réseaux</li>
                    <li>Maintenance (préventive et curative)</li>
                    <li>Installation serveurs</li>
                    <li>Mise à niveau logiciel</li> -->
                </ul>
            </div>

    </section>

        <section class="secpol">
            <div class="sec">
            <div class="sec1">
                <br>
                <div class="tailled">
                    <span class="calque"><i class="fa-solid fa-phone-flip"></i></span>
                   <span class="taille">
                    <i class="fas fa-phone"></i>Vous avez des questions?Appelez-nous au !<span id="phone">33 420 10 20</span>
                   </span>
                </div>
                <div class="touba">
                <p>Adresse</p>
                <span>EN FACE FOIRE</span><br>
                <span>sunushop@gmail.com</span>
            </div>
            </div>

            <div class="rien">
                <h3>CATEGORIES</h3>
                <span class="rien23">Sacs</span><br>
                <span class="rien23">Chaussures</span><br>
                <!-- <span class="rien23">Console | Jeu</span><br>
                <span class="rien23">Accessoires</span><br> -->
            </div>

            <div class="rien" id="rien">
                <h3>MENU</h3>
                <span>Qui sommes-nous ?</span><br>
                <span>Liste de souhaits</span><br>
                <span>Service après-vente</span><br>
                <span>Mon compte</span><br>
                <span>Suivre votre commande</span><br>
                <span>Contact</span><br>
                <span>Trouver nous sur le Maps</span><br>
                
            </div>
        </div>
        </section>


        
        <section class="rang">
            <div>
                <span class="sall">&copy; SUNUSHOP informatique</span>
                <img src="../assets/Footer-paiement.png">
            </div>
        </section>





</body>
</html>


