
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="contact.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxxxx" crossorigin="anonymous" /> 
    
    <script src="https://kit.fontawesome.com/b03d753f10.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/css/bootstrap.min.css">     -->



    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxxxx" crossorigin="anonymous" />
	<link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.13.0/css/all.css">

</head>
<body>
    <nav class="navibar">

        <div class="navbar">
            <div><i class="fa fa-phone"></i>     Nous Contacter au: +221 77 177 77 10</div>
            <ul class="lien">
                <li><a class="nav" href="https://www.google.sn/maps/place/Dakar/@14.7101012,-17.5397505,12.77z/data=!4m5!3m4!1s0xec172f5b3c5bb71:0xb17c17d92d5db21f!8m2!3d14.716677!4d-17.4676861"><span class="fall"></span></a></li>
                <li><a class="nav" href="https://www.google.sn/maps/place/Dakar/@14.7101012,-17.5397505,12.77z/data=!4m5!3m4!1s0xec172f5b3c5bb71:0xb17c17d92d5db21f!8m2!3d14.716677!4d-17.4676861"><span class="fall"><i class="fa fa-map-marker"></i>Trouver nous sur le map</span></a></li>
        
                <li><a class="nav" href="#"></a><span class="nav"></span></li>
                <li><a class="nav" href="panier"><i class="fas fa-truck-moving"></i><span class="nav">Suivre votre Commande </span></a></li>
                <li><a class="nav" href="#"></a><span class="nav"></span></li>
                <li><a class="nav" href="home"><i class="fa fa-shopping-cart"></i><span class="nav">Boutique</span></a></li>
                <li><a class="nav" href="#"><span class="nav"></span></a></li>
                <li><a class="nav" href="register"><span class="nav"><i class="fas fa-user"></i>Se Connecter</span></a></li>
                <!-- <i>fas fa-truck-moving</i>                fa-solid fa-cart-plus-->
            </ul><br>
        </div>
    </nav><br>

    <section class="secrr">
        <div class="panier">
           
        </div>
    </section>


    <section>
                <!-- nava -->
        <div class="nava">
                    <!-- cat -->
            <div class="retrouver">
                <a href="contact" ><span><i class="fas fa-bars" ></i>Retrouvez-Nous!!!</span></a>
                
            </div>
                    <!-- het -->
            <ul class="autrelien">
                <li><a href="home">Accueil</a></li>
                <li><a href="apropos">Qui sommes-nous ?</a></li>
                <li><a href="home">Boutique</a></li>
                <!-- <li><a href="serviceApresVente.html">Service après-vente</a></li> -->
                <li><a href="contact">Contact</a></li><br>
            </ul><br>
        </div>
    </section><br>
    <hr>


   <!-- <center></center> -->
     <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d66078.18296952065!2d-17.476872663203967!3d14.718877331827525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172673c39b487%3A0x8bf777a4891b0623!2zTWFyY2jDqSBzb3VtYsOpZGlvdW5l!5e0!3m2!1sfr!2ssn!4v1646846116961!5m2!1sfr!2ssn" width="1300" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15433.849044256825!2d-17.47956260591778!3d14.74296722039893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec10d468fd09831%3A0x41eb2ee4dcacd339!2sMosqu%C3%A9e%20CICES%20Foire!5e0!3m2!1sfr!2ssn!4v1687277040475!5m2!1sfr!2ssn" width="1300" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


   <br>
   <br>
   <br>
            <!-- afye -->
   <section class="textetform">
            <!-- bayern -->
    <div class="bayern">
        <div>
            <h2>Notre Boutique</h2>
            <address>
                DAKAR<br>
                <!-- Medina 37*Blaise Diagne -->
                En face foire
            </address>
            <br>
            
            <h4>Heure d'ouverture</h4>
            <ul class="ney">
                <li>Lundi: 08h-20h</li>
                <li>Mardi: 08h-20h</li>
                <li>Mercredi: 08h-20h</li>
                <li>Jeudi: 08h-20h</li>
                <li>Vendredi: 08h-20h</li>
                <li>Samedi: 08h-20h</li>
                <li>Dimanche: Fermé</li>
                    
                <!-- Service Client disponible 24h/24, 7j/7 -->
            </ul>
        </div>
       <br>
       <br>
       <br>


       <div>
           <form class="formulaire" id="formulaire">
                <div class="formulaire-container">
                    <label>Nom et Prenom </label><br>
                    <input class="case" name="nom" placeholder="Nom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="case" name="prenom" placeholder="Prenom"><br>
                    <!-- <label>prénom&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        nom</label><br> -->
                        <br>
                        <label>Téléphone</label><br>
                        <input class="cases" type="number" placeholder="Telephone" min="" max=""><br>
                        <br>
                        <label>Email</label><br>
                        <input class="cases" type="email" placeholder="Email"><br>
                        <br>
                        <label>Commentaire ou message</label><br>
                        <!-- <br> -->
                        <textarea class="casess" name="description" rows="7" cols="95"></textarea><br>
                        <br>
                        <label class="envoyer">ENVOYER</label>
                        
                </div>
            </form>
       </div>


    </div>
   </section>



<section class="secpol">

        <div class="sec">

            <div class="sec1">
                <br>
                <div class="tailled">
                    <!-- <span class="calque"></span> -->
                <span class="taille">
                    <i class="fas fa-phone"></i> Vous avez des questions?Appelez-nous au !<span id="phone">33 420 10 20</span>
                </span>
                </div>
                <div class="touba">
                <p>Adresse:</p>
                <span> EN FACE FOIRE</span><br>
                <span>sunushop@gmail.com</span>
                </div>
            </div>

            <div class="rien">
                <h3>CATEGORIES</h3>
                <span class="rien23">Sacs</span><br>
                <span class="rien23">Chaussures</span><br>
                <!-- <span class="rien23">Multimédia</span><br>
                <span class="rien23">Reseau | Wifi</span><br>
                <span class="rien23">Téléphonie</span><br>
                <span class="rien23">Console | Jeu</span><br>
                <span class="rien23">Electroménager</span><br>
                <span class="rien23">Accessoires</span><br> -->
            </div>

            <div class="rien">
                <h3>MENU</h3>
                <span>Qui sommes-nous ?</span><br>
                <!-- <span>Liste de souhaits</span><br> -->
                <!-- <span>Service après-vente</span><br> -->
                <span>Mon compte</span><br>
                <span>Suivre votre commande</span><br>
                <span>Contact</span><br>
                <span>Trouver nous sur le Maps</span><br>
                
            </div>
        </div>

</section>


<section class="paiement">
    <div>
        <span class="sall">&copy;  SunuShop Informatique</span>
        <a href="paiement"><img src="../assets/Footer-paiement.png"></a>
    </div>


</section>
   

</body>
</html>




















