<!-- 
<div class="forme-nav">

        <div class="contenu-nav">

            <div (click)="redirecTo('login')" class="btn-all">
                Connexion
            </div>
            <div (click)="redirecTo('register')" class="btn-all">
                Inscription
            </div>
            
             <div (click)="redirecTo('home')" class="btn-all">
                Home
            </div> 
            <div (click)="redirecTo('home')" class="btn-all">
                Categories
            </div> 
            <div (click)="redirecTo('home')" class="btn-all">
                Chaussures
            </div> 
            <div (click)="redirecTo('home')" class="btn-all">
                Sacs
            </div> 
        
        
        
        

        </div>
</div> -->